URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.perl-ext-common: selection-to-clipboard
URxvt.font: xft:jmk\ Neep:pixelsize=17
URxvt.boldFont: xft:jmk\ Neep:style=Bold:pixelsize=17
URxvt.scrollBar: false
URxvt.iso14755: False
URxvt.perl-ext-common: font-size
! special
*.foreground:   #ffffff
*.background:   #1b1b1b
*.cursorColor:  #ffffff

! black
*.color0:       #3d3d3d
*.color8:       #4d4d4d

! red
*.color1:       #6673bf
*.color9:       #899aff

! green
*.color2:       #3ea290
*.color10:      #52ad91

! yellow
*.color3:       #b0ead9
*.color11:      #98c9bb

! blue
*.color4:       #31658c
*.color12:      #477ab3

! magenta
*.color5:       #596196
*.color13:      #7882bf

! cyan
*.color6:       #9d82b2
*.color14:      #bb95cc

! white
*.color7:       #c8cacc
*.color15:      #edeff2
